.fancy-header {
    font-family: 'Font Name', cursive;
    font-size: 36px;
    text-align: center;
    text-shadow: 10px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    background-color: rgb(192, 126, 209);
    border: 1px solid azure;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
}

.fancy-header a {
    text-decoration: none;
    color: #ffffff;
}

.fancy-header a:hover {
    text-decoration: underline;
    color: #6ae0e4;
}

body {
    background-image: url('https://i.seadn.io/gcs/files/42f7e4c328f65fb78974c9a44d937602.png?auto=format&dpr=1&w=1920');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    /* Adjust the opacity value (0.5) as per your preference */
}

.project-description {
    background-color: rgba(114, 114, 239, 0.9);
    /* Adjust the color and opacity as per your preference */
    padding: 20px;
    border-radius: 50px;
}

.project-description img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.content {
    margin-bottom: 70px;
    /* Adjust the margin to create space for the footer */
}

.card {
    transition: transform 0.3s;
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    height: 150px;
    /* Adjust the height as per your preference */
    overflow: hidden;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-container a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn-container :hover {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transform: scale(1.05);
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons i {
    color: #555555;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons i:hover {
    color: #ffffff;
}

.music-button {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 9999;
}

.music-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}